body {
    font-family: "Lato", sans-serif;
    font: 15px;
    background: white;

    #head {
        color: black;
        background-color: wheat;
        height: 20rem;
    }

    .sidenav {
        padding: 25px;
        height: 100%;
        width: 200px;
        position: absolute;
        z-index: 1;
        top: 319px;
        left: 0;
        bottom: 0;

        background-color: #0e1026;
        overflow-x: hidden;
        height: 54.6rem;

    }

    .sidenav a,
    .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    .sidenav a:hover,
    .dropdown-btn:hover {
        color: #f1f1f1;
    }

    .main {
        height: 800px;
        margin-left: 200px;
        /* Same as the width of the sidenav */
        font-size: 20px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    .active {
        background-color: green;
        color: white;
    }

    .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
    }

    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    #contactForm {
        margin-left: 20rem;
        padding: 1.5rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        color: #777;
        background: #0CF;
    }

    .container {
        max-width: 70rem;

        margin: 0 auto;
        position: relative;
        padding: 3rem;

    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
        font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    }

    #contact {
        background: #F9F9F9;
        padding: 5px;

        margin-left: -165px;
        width: 20rem;
    }

    #contact h3 {
        color: #F96;
        display: block;
        font-size: 28px;
        font-weight: 400;
    }



    fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea {
        width: 100%;
        border: 1px solid #CCC;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
    }

    #contact input[type="text"]:hover,
    #contact input[type="email"]:hover,
    #contact input[type="tel"]:hover,
    #contact input[type="url"]:hover,
    #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA;
    }

    #contact textarea {
        height: 80px;
        max-width: 100%;
        resize: none;
    }

    #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #0CF;
        color: #FFF;
        margin: 0 0 5px;
        padding: 9px;
        font-size: 14px;
    }

    #contact button[type="submit"]:hover {
        background: #09C;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    #contact input:focus,
    #contact textarea:focus {
        outline: 0;
        border: 1px solid #999;
    }

    ::-webkit-input-placeholder {
        color: #888;
    }

    :-moz-placeholder {
        color: #888;
    }

    ::-moz-placeholder {
        color: #888;
    }

    :-ms-input-placeholder {
        color: #888;
    }

    #footer {

        height: 22rem;

        bottom: 0;
        width: 100%;
        background-color: darkslategrey;
        color: white;
        text-align: center;
    }

    #map {
        padding: 3rem;
    }

    .pos-f-t {
        margin-left: 12rem;
    }

    .col {
        height: 180px;
    }

    .dropbtn {

        background-color: lightgrey;
        color: black;
        padding: 16px;
        font-size: 18px;
        border: none;
    }

    .dropdown:hover .dropbtn {
        background-color: lightgray;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        margin-left: 0;
        background-color: #f1f1f1;
        min-width: 1280px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: lightgrey;
    }

    #nav {
        background: lightgray;
        height: 73px;
        margin-left: 12rem;
    }

    #nav .container {
        padding: unset;
    }

    #nav li {
        margin: 0 15px;
        margin-top: 0px;
        margin-right: 15px;
        margin-bottom: 0px;
        margin-left: 15px;
    }

    #first {
        left: -4rem;
        bottom: -29rem;
    }

    #second {
        left: -19rem;
        bottom: -29rem;
    }

    #third {
        left: -33rem;
        bottom: -29rem;
    }

    #fourt {
        left: -48rem;
        bottom: -29rem;
    }

    #fifth {
        left: -67rem;
        bottom: -29rem;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
        margin-top: 10px;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        margin-top: 10px;
    }

    form.example button:hover {
        background: #0b7dda;
    }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }

    #main {
        height: 50rem;
    }

    .dropdown:hover:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid darkgrey 10px;
        bottom: -22px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }
}